body {
	background: #f8f8f8;
	font-family: 'Lato', sans-serif;
}

img {
    display: block;
    max-width: 200px;
}

a {
	color: #000000;
}

.container{
	max-width: 1920px;
	margin: 0 auto;
	padding: 10px;
}

#header {
	background: #272424;
}

#header a {
	color: #ffffff;
}

#header #logo-container{
	width: 300px;
}

#right-header p {
	text-align: right;
}

#right-header a {
	text-decoration: none;
}

#login-container{
	width: 500px;
	margin: 0 auto;
}

input{
	box-sizing: border-box;
    width: 100%;
    height: 32px;
    margin-top: 10px;
    font-size: 20px;
}

table {
	width: 100%;
}

tr {
	text-align: left;
	height: 40px;
}

.first-tr{
	background: #4183bf;
	color: #ffffff;
}

.odd-tr{
	background: #d9e5f1;
}

td {
	padding-left: 5px;
}

table.dates td{
	width: 50%;
}

table.applications td{
	width: 25%;
}

.delete {
    background-color: #d9534f;
    width: 80px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
}

.mini-container {
	padding: 0 15px;
}

.select-container{
	padding-right: 10px;
}

select {
    width: 100%;
    height: 32px;
    font-size: 20px;	
}

form {
	width: 100%;
}
